import { util } from '@aws-appsync/utils';

export function request() {
  return {};
}

export function response(ctx) {
  if (ctx.error) {
    util.error(ctx.error.message, ctx.error.type, ctx.error.data);
  }

  return ctx.prev.result;
}

